@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.text {
    max-width: 580px;
}
.text h1 {
    color: #FAF9F9;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 120px;
}
.text h1 span {
    font-weight: 700;
    font-size: 30px;
    color: #FBB731;
    text-transform: uppercase;
}

.text p {
    font-weight: normal;
    font-size: 19px;
    color: #DEDEDE;
}

.headerA {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 45px;
    text-decoration: none;
    margin: 80px 0;
    display: inline-block;
}
.headerA:hover, .mainAR:hover, .mainAL:hover {
    opacity: 0.7;
}

.visual img {
    max-width: 590px;
    position: absolute;
}
.visual {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg {
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
    width: 432px;
    height: 100%;
}
.baner {
    display: flex;
    justify-content: center;
    margin: 186px 0;
}
.banLeft {
    width: 580px;
    height: 390px;
    background-image: url(../img/left.png);
    background-size:cover;
    margin: 0 10px;
    background-size: inherit;
}
.textLeft {
    width: 378px;
    padding: 116px 0px 116px 50px;
}
.textRight {
    width: 353px;
    padding: 101px 0px 50px 50px;
}
.banRight {
    width: 580px;
    height: 390px;
    background-image: url(../img/right.png);
    margin: 0 10px;
    background-size: inherit;
}

.mainAL {
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 14px;
    text-decoration: none;
    padding: 5px 18px;
}

.textLeft h1{
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 8px;
}

.textLeft p {
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
}

.textRight h1 {
    font-weight: bold;
    font-size: 44px;
    color: #FFFFFF;
}
.textRight p {
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
}
.mainAR {
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 45px;
    text-decoration: none;
    display:inline-block;
    margin-top: 60px
}
footer {
    background: #1E2F40;
    height: 350px;
    display: flex;
    align-items: center;
}
.footMargin {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot2 h2, .foot3 h2 {
    font-weight: 800;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px
}
.foot2 ul {
    color: #DEDEDE;
    list-style-type: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}
.foot2 ul li {
    margin-bottom: 10px;
    cursor: pointer;
}
.foot2 ul li:hover {
    opacity: .5;
}

.foot3 p {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
}

.foot4 p {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    color: #FBB731;
    margin-bottom: 9px
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup_content {
    /* display: none; */
    position: fixed;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    align-items: center;
  }
  
  .popup_close {
    position: absolute;
    top: -2.2rem;
    right: -5rem;
    font-size: 4rem;
    color: #ffffff;
    border: none;
    background: transparent;
  }
  
  .text-center {
      text-align: center;
  }
  
  .form {
    padding: 2rem 5rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #ffffff;
  }
  .form h2 {
      margin-bottom: 3rem;
      font-size: 2rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #333333;
      line-height: 1.5;
  }
  .form_input {
      height: 5.8rem;
      padding: 0;
      margin-bottom: 2rem;
      text-align: center;
      border-radius: 1rem;
  
  }
  .button {
      padding: 1.5rem 0rem;
      font-size: 1.7rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
      border: 1px solid #ffc600;
      border-radius: 1rem;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffed26), to(#ffb400));
      background: linear-gradient(
  180deg, #ffed26 0%, #ffb400 100%);
      -webkit-box-shadow: 1px 2px 20px 0px rgb(255 153 0 / 40%);
      box-shadow: 1px 2px 20px 0px rgb(255 153 0 / 40%);
  }
  .btn-block {
      display: inline-block;
      width: 85%;
  }
  .form_notice {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 1.1rem;
      color: #666;
  }
  .form-control {
      display: inline-block;
      width: 80%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

@media (max-width: 1330px) {
    .container, .footMargin {
        width: 96%;
    }
    .text h1 {
        font-size: 80px;
    }
    .visual img {
        width: 35%;
    }
    .bg {
        width: 50%;
    }
    .banLeft, .banRight {
        width: 500px;
        background-size: contain;
        height: 340px;
    }
    .headerA {
        margin: 50px 0;
    }
    .baner {
        margin: 100px 0;
    }
    .textRight {
        padding: 60px 0px 50px 50px;
    }
}

@media (max-width: 1200px) {
    .text h1 {
        font-size: 60px;
    }
}

@media (max-width: 1023px) {
    .baner {
        flex-flow: wrap;
    }
    .banRight {
        
        margin-top: 20px;
    }
    .foot1, .foot2, .foot3, .foot4 {
        padding: 0 15px;
    }
    footer {
        height: auto;
    }
    .footMargin {
        flex-flow: wrap;
    }
    .footMargin {
        padding: 50px 0;
    }
    .popup_content {
        width: 30rem;
    }
    .form {
        padding: 2rem 2rem;
    }   
    .form h2, .button {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .text h1 {
        font-size: 40px;
    }
    .text h1 span {
        font-size: 20px;
    }
    .headerA {
        margin: 30px 0;
        padding: 15px 30px;
    }
    .mainAR {
        padding: 15px 30px;
    }
    .banLeft, .banRight {
        width: 500px;
        background-size: contain;
    }
    .banRight {
        margin-left: 0;
        margin-right: 0;
    }
    .popup_content {
        width: 20rem;
    }
    .form h2, .button {
        font-size: 20px;
    }
    .popup_close {
        right: -3rem;
    }
    .form {
        padding: 1rem 1rem;
    }   
    .form_input, .form h2 {
        margin-bottom: 1rem;
    }
    
}

@media (max-width: 426px) {
    .text h1 {
        font-size: 30px;
    }
    .text h1 span {
        font-size: 15px;
    }
    .text p {
        font-size: 14px;
    }
    .baner {
        margin: 20px 0;
    }
    .textLeft {
        width: 330px;
        padding: 20px 0px 0px 20px;
        margin-bottom: 20px;
    }
    .banLeft, .banRight {
        height: auto;
        background-size: cover;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .textRight {
        padding: 20px 0px 20px 20px;
    }
    .mainAR {
        margin-top: 20px;
    }
    .popup_close {
        top: -4.4rem;
        right: 43%;
    }
}
@media (max-width: 350px) {
    .textRight, .textLeft {
        width: 250px;
    }
    .textLeft p, .textRight p {
        font-size: 10px;
    }
    .text h1 {
        font-size: 20px;
    }
    .text h1 span {
        font-size: 10px;
    }
    .text p {
        font-size: 10px;
    }
    .form h2, .button {
        font-size: 15px;
    }
    .form-control {
        width: 75%;
    }
    .popup_content {
        width: 18rem;
    }
}


















